<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeereview.mapper.CafeMapper">

<select id="getCafeList" resultType="com.coffeereview.domain.CafeVO">
	<![CDATA[
	select * from tbl_cafe where cno > 0
	]]>
</select>

<select id="getCafe" resultType="com.coffeereview.domain.CafeVO">
	select * from tbl_cafe where cno = #{cno}
</select>

</mapper>